:root {
  --button-bg-color: #b91d25;
  --text-color: black;
  --headers-txt-color: #513737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.7em;
  background: rgb(255, 255, 255);
}

a {
  color: black;
  text-decoration: none;
}

.container {
  margin: auto;

  overflow: auto;
  padding: 0;
}

/*-----------------video------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

.showcase {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}
.video-container img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.content {
  z-index: 10;
}
.content h1 {
  font-size: 36px;
  color: white;
  opacity: 1;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg-color);
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.9;
}
.btn:hover {
  transform: scale(0.98);
}

#about {
  padding: 40px;
  text-align: center;
}
#about h1 {
  font-size: 2.6rem;
  color: var(--headers-txt-color);
  padding-bottom: 15px;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}
#about h2 {
  margin: 30px 0;
  color: var(--headers-txt-color);
}

/*--------------------end video --------------------*/

.container-img {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;

  cursor: pointer;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}
.box a img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}

/*---------Footer------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.box-footer {
  max-width: 1170px;

  margin: auto;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  font-weight: 500;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--button-bg-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.cp-text {
  color: #ffff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
/*-responsive*/
@media (max-width: 767px) {
  .container-img {
    flex-direction: column;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  #about h1 {
    font-size: 28px;
  }
}
